#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
.*
*.*~
*.py~
*.pyc
*.txt
include
include/
include/*
*.png
*.svg
*.dot
*.o
*.so
*.os
*.eps
*~
release
SConstruct

# exceptions
!.gitignore
