#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# General purpose rules for python packages
#
.*
*.*~
*.a
*.dylib
*.py~
*.pyc
*.so
build
#
# Special temporary extension (created by build.sh)
*.log
# Special temporary files (created by build.sh)
dist
MANIFEST
MANIFEST.in
doc
external

# Temporary files that created while working 
junk
junk.*

# exceptions
!.gitignore
